<div class="center hero-unit">
 <h1>Welcome to You Won't</h1>
<h2> Challenge everyone to anything!
</h2>
<div><p>This is where the challenges will be. </p></div>
<p>You must have an account to accept/post dares.
<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
 </div>
