<li>
  <span class='content'><%= dare.content %></span>
  <span class='timestamp'>
   dared <%= time_ago_in_words(dare.created_at) %> ago.
</span>
<% if dare.accepted == true %>
 <span>Accepted by: User #</span>
  <%= link_to dare.accepted_by %>
<% else %>
  <% if signed_in? %>
    <%= link_to 'Accept', :controller => "dares", :action => "accept", method: :put, :id => dare.id %>
  <% else %>
    <span>You need to be signed in to accept dares </span>
  <% end %>
<% end %>
</li>

