<li>
  <span class='content'><%= dare.content %></span>
  <span class='timestamp'>
   dared <%= time_ago_in_words(dare.created_at) %> ago.
</span>
<input class='acceptButton' type="submit" value="Accept Dare"/>
</li>

